<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogLevel="Info"
	internalLogFile="${basedir}/logs/nlog-internal.txt">

	<!-- Load the ASP.NET Core plugin,enable asp.net core layout renderers-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- 控制台日志 -->
		<!-- 网络请求日志 -->
		<target name="consoleNet" xsi:type="ColoredConsole"
			enableAnsiOutput="True"
			layout="${level:format=FirstCharacter} ${date} [${logger:shortName=true}] | ${aspnet-request-iP} | ${aspnet-request-url}${newline}  ${message}" />
		<!-- SQL日志 -->
		<target name="consoleSql" xsi:type="ColoredConsole"
			enableAnsiOutput="True"
			layout="${level:format=FirstCharacter} ${date} SQL${newline}${message}" />
		<!-- 普通日志 -->
		<target name="console" xsi:type="ColoredConsole"
			errorStream="True"
			enableAnsiOutput="True"
			layout="${level:format=FirstCharacter} ${date} [${logger:shortName=true}] ${message}" />

		<!-- 文件日志 -->
		<!-- 网络请求日志 -->
		<target name="filelogNet" xsi:type="File"
			fileName="${basedir}/logs/net.txt"
			archiveFileName="${basedir}/logs/net.{###}.txt"
			archiveEvery="Day"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="20000000"
			maxArchiveFiles="30"
			archiveOldFileOnStartup="true"
			keepFileOpen="true"
			layout="${longdate} | ${level} | ${logger} | ${message} | ${aspnet-request-iP:CheckForwardedForHeader=true} | ${aspnet-request-url} | ${event-properties:item=requestParam} | ${event-properties:item=jsonResult} | ${onexception:${exception:format=tostring}" />
		<!--SQL-->
		<target name="filelogSql" xsi:type="File"
			fileName="${basedir}/logs/all-sql.txt"
			archiveFileName="${basedir}/logs/all.sql{###}.txt"
			archiveEvery="Day"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="20000000"
			maxArchiveFiles="30"
			keepFileOpen="true"
			layout="${longdate} | ${level} |${newline}${message}" />
		<!-- 普通日志 -->
		<target name="filelog" xsi:type="File"
			fileName="${basedir}/logs/log.txt"
			archiveFileName="${basedir}/logs/log.{###}.txt"
			archiveEvery="Day"
			archiveAboveSize="20000000"
			maxArchiveFiles="30"
			archiveOldFileOnStartup="true"
			keepFileOpen="true"
			layout="${longdate} | ${level} | ${logger} | ${message}" />
		<!-- 全部日志 -->
		<target name="filelogAll" xsi:type="File"
			fileName="${basedir}/logs/all.txt"
			archiveFileName="${basedir}/logs/all.{###}.txt"
			archiveEvery="Day"
			archiveAboveSize="20000000"
			maxArchiveFiles="30"
			archiveOldFileOnStartup="true"
			keepFileOpen="true"
			layout="${longdate} | ${level} | ${logger} | ${message}" />

		<!--黑洞-->
		<target name="blackhole" xsi:type="Null" />
	</targets>

	<rules>
		<!-- 除非调试需要，把 .NET Core 程序集的 Debug 输出都屏蔽 Trace -> Debug-> Info ->Warn-> Error-> Critical-->
		<!-- 屏蔽系统日志 -->
		<logger name="Microsoft.*" writeTo="blackhole" final="true" />
		<logger name="System.*" writeTo="blackhole" final="true" />
		<logger name="Microsoft.*,Quartz.Core.QuartzSchedulerThread" writeTo="blackhole" maxlevel="Info" final="true" />

		<!-- SQL日志 -->
    <logger name="XinjingdailyBot.WebAPI.Extensions.DatabaseExtension" writeTo="console" final="true" />
    <!-- <logger name="XinjingdailyBot.WebAPI.Extensions.DatabaseExtension" writeTo="consoleSql" final="true" /> -->
		<logger name="XinjingdailyBot.WebAPI.Extensions.DatabaseExtension" writeTo="filelogSql" final="true" />

		<!-- 控制台日志 -->
		<logger name="*" minLevel="Debug" writeTo="console" />

		<!-- 文件日志 -->
		<logger name="*" minLevel="Info" writeTo="filelog" />
		<logger name="*" minLevel="Trace" writeTo="allfile" />
	</rules>
</nlog>